<div [@formAnimation]="animateMe" class="auth-form-container">
  <!--<a class="auth-link" routerLink="/login" id="goback">Login form</a>-->

  <h2 class="auth-title" >Create an account</h2>

  <!--<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>-->
    
  <!--<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">-->
  <!--<form #formData (ngSubmit)="onSubmit(formData)">-->

  <!--  <input type="text" placeholder="Email address" (ngModel)="email" name="email" class="txt auth-input" required>-->
  <!--  <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt auth-input" required>-->


  <!--  <button type="submit" [disabled]="!formData.valid" class="basic-btn auth-btn">Join</button>-->
    
  <!--  <h4><a class="auth-link" routerLink="/login" id="goback">Back to the login form</a></h4>-->

  <!--</form>-->
  
  <form (ngSubmit)='onSubmit(f, email, password)' #f="ngForm">

      <input type="text" placeholder="Email address" (ngModel)="email" name="email" class="txt auth-input" required #email>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt auth-input" required #password> 
      <h3 *ngIf="errorMessage" class="error-message">{{errorMessage}}</h3>

      <!--<button type="submit" [disabled]="!formData.valid" class="basic-btn auth-btn">Log in</button>-->
      <button [disabled]="!f.valid"  type="submit"  [ngClass]="{'button-disabled' : !f.valid}" class="basic-btn auth-btn">Join</button>
      <br>
      <h4>
        <a class="auth-link"  routerLink="/login" id="goback">Back to the login form</a>
        <!--<a routerLink="/signup" class="alc auth-link auth-link-right">No account? <strong>Create one here.</strong></a>-->

      </h4>
  </form>
  
</div>